# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock
pubspec.lock
flutter-run.*.log

# Android
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Web
web/.*
!.web/
